.expeience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.expeience__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.expeience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.expeience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.expeience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.expeience__details {
    display: flex;
    gap: 1rem;
}

.experiemce__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/*   media queries (medium devices)   */
@media screen and (max-width: 1024px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .about__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }
  
    .about__content p {
      margin: 1rem 0 1.5rem;
  
    }
  }
  
  /*   media queries (snall devices)   */
  @media screen and (max-width: 600px) {
      .expeience__container {
        gap: 1rem;
      }

      .expeience__container > div {
        width: 100%;
        padding: 2rem 1rem ;
      }
  }