body {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  font-family: 'Montserrat', sans-serif;
}

/*code {
}*/

:root {
  --white: #FFFFFF;
  --secondary: #2980FF;
  --black: #202020;
  --full-black: #080808;
  --average-grey: #5e5e5e;
  --light-grey: #E2E2E2;
}

.container {
  width: 100vw;
  min-height: 100vh;
  margin: auto;
}
