
:root {
    --white: #FFFFFF;
    --primary-gray: #E2E2E2;
    --medium-gray: #3F3F3F;
    --primary-color: #202020;
    --secundary: #2980FF;
}

body {
    margin: auto;
    @import url
    ('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    font-family: sans-serif;
}